.border {
  width: 500px;
  border: solid 5px #336699;
  background-color: lightblue;
  margin: 100px 100px 100px 100px;
  // float: inherit;
}

h1 {
  font-size: 50px;
  color: #336699;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  text-shadow:5px 5px 5px black;

}
label {
  font-size: 25px;
  text-shadow:1px 1px 1px black;
  color: #336699;
  margin-left: 10px;
}
input {
  border: solid 3px #336699;
  margin-left: 10px;
}

.answer {
  // padding-bottom: 50px;
  margin: 10px 10px 10px 10px;
  border: solid 3px #336699;
}
button {
  border: solid 3px #336699;
  margin: 5px 5px 5px 5px;
  // float: right;
}
