.border {
  width: 400px;
  height: 400px;
  border: solid 5px #336699;
  background-color: lightblue;
  margin: 75px 10px 100px 35px;
  padding: 10px 10px 10px 10px;
  // float: inherit;
}

h1 {
  font-size: 50px;
  color: #336699;
  font-weight: bold;
  text-shadow:5px 5px 5px black;
  text-align: center;
}
label {
  font-size: 25px;
  text-shadow:1px 1px 1px black;
  color: #336699;
  margin-left: 10px;
}
input {
  border: solid 3px #336699;
  margin-left: 10px;
}

.answer {
  padding: 0 50px 10px 10px;
  margin: 10px 0 0 10px;
  border: solid 3px #336699;
  float: left;
}
.buttons {
  float: right;
}
button {
  border: solid 3px #336699;
  margin: 5px 5px 5px 5px;

}
